/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

  .fade-in-left {
    animation: fade-in-left 1s ease;
    animation-play-state: paused;
  }
  
  .fade-in-right {
    animation: fade-in-right 1s ease;
    animation-play-state: paused;
  }
  
  .animated {
    animation-play-state: running;
  }
  
  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


@layer utilities{
 
    .custom-shadow{
        box-shadow: inset 0 0 10px 6px #133E87 ;
    }
    /* From Uiverse.io by cssbuttons-io */ 
.button1 {
    --glow-color:#608BC1 !important; 
    --glow-spread-color: #133E87 !important;
    --btn-color: #133E87 !important;
    border: .25em solid var(--glow-color) !important;
    padding: 1em 3em !important;
    color: var(--glow-color) ;
    font-size: 15px !important;
    font-weight: bold !important;
    background-color: var(--btn-color) ;
    border-radius: 1em !important;
    outline: none !important;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color) ;
    text-shadow: 0 0 .5em var(--glow-color) !important;
    position: relative !important;
    transition: all 0.3s !important;
   }
   
   .button1::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .button1:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .button1:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
  
}